<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% comment %} <link rel="stylesheet" href="/normalize.css">
        <link rel="stylesheet" href="/skeleton.css">
        <title> Budgtr App</title> {% endcomment %}
    </head>
    <body>
{% layout 'new.liquid' %}

{% block content %}
</body>