{% layout "layout.liquid" %}
{% block content %}

<div>
 <a href="/products/new"><button>New Item</button></a
            {% for product in products %}
                 <article>
        
            <a href="/products/{{ product._id }}">
            <h2>
            {{Product.name}} - 
                {% if product.inStock == true %}
                     Buy this!
                {% else %}
                    Let me know when you have it
                {% endif %}

            </h2>
        </a>
                </article>
{% endfor %}

</div>

{% endblock %}