{% layout "layout.liquid" %}


    {%block content %}
    <body>
        <h1> Pokedex </h1>
        <ul>
           
            <a href=/pokemon/new></a>
            <ul>
            <li>
            {%  for poke in pokemon  %}
              
            <a href='/pokemon/{{forloop.index0}}'>{{poke.name}}<img src={{poke.img}}></a>
            </li>
            {% endfor %}
            </ul>
        </ul>
     </body> 

{% endblock %} 

