<h1>{{name}}</h1>
<h1>I've been rendered!</h1>
<h1>{{cheese}}</h1>
<h1>{{bread}}</h1>

{% if question == true %}

<h1>It is true</h1>

{% end if %}

{% for num in arr %}

<li>{{num}}</li>

{% endfor %}